.Footer
	min-height 300px
	width 100%
	
	&-logo
		width 100px
		vertical-align middle
		margin 0 .5em	
		img
			width 100%
	
	&-list
		@media screen and (min-width 640px)
			margin-top -20px

	&-item
		margin .5em
		
		@media screen and (min-width 640px)
			margin 0 .3em

		a
			font-size 14px
			padding 2px
			color white
			text-decoration none
	
	&-below
		text-align center
		margin-top 2em
		
		span
		a
			font-size 14px
			padding .5em
			display block
			
			@media screen and (min-width 640px)
				display inline-block
		a
			color darken(whiteColor, 20%)

		
	.wrapper
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		.data
			text-shadow 1px 1px 3px rgba(black, .5),
			-1px -1px 3px rgba(black, .5),
			-1px 1px 3px rgba(black, .5),
			1px -1px 3px rgba(black, .5)
			