.Footer
	background linear-gradient(135deg, #1b4a77 0%, #30a2bc 100%)
	text-align center
	padding 2em 0
	
	&-logo
		width 100px
		display inline-block
		vertical-align middle
		margin 0 .5em	

		img
			width 100%
	
	&-list
		padding 0
		display inline-block
		list-style none
		text-align center
		margin 0
		vertical-align middle
		
		@media screen and (min-width 640px)
			margin-top -20px

	&-item
		margin .5em
		display inline-block
		
		@media screen and (min-width 640px)
			margin 0 .3em

		a
			font-size 14px
			padding 2px
			color white
			text-decoration none
			border-bottom 1px solid white
	
	&-below
		// background footerBelowColor
		text-align center
		margin-top 2em
		
		span
		a
			font-size 14px
			padding .5em
			display block
			
			@media screen and (min-width 640px)
				display inline-block
			
		span
			color orange
			
		a
			color darken(orange, 20%)
			