.Header
	background darkColor
	padding 0
	position fixed
	max-width 1200px
	right 0
	left 0
	margin auto
	
	@media screen and (min-width 768px)
		background transparent
	
	&-menuBtn
		position absolute
		right .5em
		top .5em
		background none
		border none
		outline none
		cursor pointer
		text-shadow 3px 3px 5px black
		
		i
			font-size 2em
			color tomato
	
	&-logo
		width 120px
		margin .5em auto
		
		@media screen and (min-width 768px)
			margin .5em
			
		img
			width 100%