.Header
	background darkColor
	max-width 1200px
	right 0
	left 0
	z-index 9
	transition .5s linear
	
	@media screen and (min-width 768px)
		max-width inherit
		background transparent
		
	&-menuBtn
		right .5em
		top .5em
		text-shadow 3px 3px 5px black
		
		@media screen and (min-width 1024px)
			display none
		i
			font-size 2em
	
	&-logo
		width 120px
		margin .5em auto
		transition all .5s linear
		
		@media screen and (min-width 768px)
			margin .5em
			display inline-block
		img
			width 100%
			
	a
		display inline-block
		position relative
		z-index 9
			
.scroll-color
	background-color rgba(darkColor, .8)
	.MainMenu-item
		margin-bottom 0
		
	.Header-logo
		width 80px