.Header
	background headerColor
	padding-top 1em
	position fixed
	
	&-menuBtn
		position absolute
		right 5px
		top 5px
		background none
		border none
		outline none
		
		i
			font-size 1.5em
			color tomato
	
	&-logo
		width 30%
		margin 0 auto
		
		img
			width 100%