.MainMenu
	display none
	background-image linear-gradient(rgba(darkColor, .6), rgba(greenMenu, .8)), url('http://www.diarioextra.com/files/Dnews/images/detail/243073_elusodeenergias.jpg')
	background-repeat no-repeat
	background-size cover
	position relative
	
	@media screen and (min-width 768px)
		max-width 40%
		left -8px

	&-list
		list-style none
		margin 0
		padding 0
		text-align left
		
		
	&-item
		margin .5em 0
		background darken(rgba(darkColor, .8), 45%)
		transition all 1s

		a
			padding 1em
			display block
			text-decoration none
			color white
			
		i
			margin-right .5em
			color #26C281
			
		@media screen and (min-width 768px)
			&:hover
				background red