.MainMenu
	display none
	background-image linear-gradient(rgba(darkColor, .6), rgba(successColor, .8)), url('http://www.diarioextra.com/files/Dnews/images/detail/243073_elusodeenergias.jpg')
	background-repeat no-repeat
	background-size cover
	position absolute
	right 0
	left 0
	
	@media screen and (min-width 1024px)
		bottom 0
		display inline-block
		background-image none
		width 100%
		text-align center
		
	&-list
		list-style none
		margin 0
		padding 0
		text-align left
		
		@media screen and (min-width 1024px)
			text-align right
			display inline-block
			
	&-item
		margin-bottom .5em
		background darken(rgba(darkColor, .8), 50%)
		transition all .6s linear
		
		@media screen and (min-width 1024px)
			background none
			display inline-block
			
			&:hover
				.DropDown-list
					display block

		a
			padding 1em
			display block
			text-decoration none
			color white
			transition .5s
			
		i
			margin-right .5em
			color successColor
		
		@media screen and (min-width 1024px)
			&:hover
				color highlightColor
				box-shadow 200px 0 0 darken(darkColor, 40%) inset

.DropDown-list
	display none
	position absolute
	list-style none
	text-align center
	margin 0
	padding 0

.DropDown-item
	margin 0
	padding 0
	transition .6s
	background darkColor

	&:hover
		box-shadow 200px 0 0 darken(darkColor, 30%) inset