.Interconnection
	
	&.bg-inter
		background-image linear-gradient(135deg, rgba(black, .6)50%, rgba(black, .5) 70%),
			url("../img/interconexion/medidor.jpg")
		background-size cover
		background-position 70%

.DownloadPdf
	background-color sectionLightColor
	
	.wrapper
		text-align center
	
	a
		text-decoration none
		
	&-item
		margin 2em auto
		display inline-block
		width 250px
		vertical-align top

	&-image
		max-width 25%
		
	img
		transition all .3s linear

	
.DAC
	
	&.bg-dac
		background-image linear-gradient(135deg, rgba(black, .5)50%, rgba(black, .7) 70%),
			url("../img/interconexion/medidor1.jpg")
		background-size cover
		background-position 50%
		text-align center
	&-item
		text-align center
		margin 1em 0
		
		@media screen and (min-width 1024px)
			display inline-block
			width 50%

	&-receipt
		width 90%
		height 250px

		img
			height 100%
			
	
.Benefits
	background sectionLightColor
	text-align center
	margin 0 auto
	
	.image
		width 150px
	
	p
		display inline-block

		@media screen and (min-width 768px)
			width 70%
	
	&-item
		@media screen and (min-width 768px)
			width 75%




table
	border-collapse collapse
	width 90%
	margin-top 50px !important
	
	@media screen and (min-width 768px)
		width 75%
	
	th
		background darkColor
		color whiteColor
		padding 1em
	
	td
		padding .5em
	
	tr:nth-child(odd)
		background rgba(darkColor, .6)
		color white