greenMenu 		= #1a9007
footerColor 	= #1F292F
footerBelowColor = #192126
primaryColor = #ff5456
lightColor  = #dddddd
darkColor   = #154575
successColor	= #2ecc71
highlightColor  = #ffcd2d


// default font "Lato"
@import url('https://fonts.googleapis.com/css?family=Lato')
	
body
	font-family 'Lato', sans-serif
	font-size 16px
	color darkColor

h1
h2
h3
h4
h5
h6
	font-weight normal
	margin 0
	padding 1em 0
	
.Main-section
	padding 0
	min-height 100vh
	background-image linear-gradient(rgba(#446CB3, .7), rgba(#03C9A9, .6)),
		url('../img/main-img.jpg')
	background-size cover
	
	.wrapper
		margin 0 auto
		padding 100px 0
		max-width 1200px
	
	.section-title
		margin 1em 0
		padding 1em .5em
	
.MainInfo
	margin 0 auto
	margin-top 4em
	display flex
	justify-content space-around
	flex-flow row wrap

	&.index
		.InfoSection
			background rgba(white .5)
			width 90%
			padding .5em
			margin .5em 0
			border-radius 3px
			padding-bottom 40px
			position relative

			
			@media screen and (min-width 768px)
				width 30%
					
			> a
				position absolute
				bottom .5em
				left 0
				right 0
				margin auto
		
		
@import 'layout/header.styl'
@import 'layout/footer.styl'
@import 'layout/menu.styl'

//Helpers
	
.title
.subTitle
	padding .5em 0
	text-align center
	font-size 1em
	text-shadow .07em .07em .15em lighten(primaryColor, 60%)
	
.title
	font-size 1.5em
	
.text-primary
	color primaryColor
	text-shadow .07em .07em .13em darken(primaryColor, 60%)

.text-light
	color lightColor
	text-shadow .07em .07em .15em darken(darkColor, 60%)

.text-dark
	color darkColor
	text-shadow .07em .07em .15em darken(lightColor, 60%)

.success-color
	color successColor

.highlight-color
	color highlightColor

.btn
	outline none
	border none
	border-radius 3px
	padding .5em 0
	display inline-block
	text-decoration none
	text-align center
	
.btn-lg
	width 250px
	
.btn-success
	background successColor
	
.m-h-xs
	margin 0 5px
	
.m-h-sm
	margin 0 8px
.m-n
	margin 0
	
.va-b
	display inline-block
	vertical-align bottom
	
.image
	margin 0 auto
	
	img
		width 100%
		
.image-r-xs
	width 30%
.image-r-sm
	width 45%
.image-r-md
	width 60%
.image-r-lg
	width 80%
	
.image-xs
	width 80px	