primaryColor = #FEC606
lightColor  = #3498DB
darkColor   = #00587A
successColor	= #71BA51
highlightColor  = #FC575E
whiteColor = #ffffff
darkGreyColor = #333;


// default font "Lato"
@import url('https://fonts.googleapis.com/css?family=Lato')
@import 'https://fonts.googleapis.com/css?family=Candal'
body
	font-family 'Lato', sans-serif
	font-size 16px
	color darkGreyColor

h1
h2
h3
h4
h5
h6
	font-weight normal
	margin 0
	padding 1em 0
	
.Main-section
	padding 0
	min-height 100vh
	background linear-gradient(135deg, rgba(black, .8), rgba(black, .6)),
		url('../img/main-img.jpg')
	
	.section-title
		margin 1em 0
		padding 1em .5em
	
.MainInfo
	background #FAF8F4
	padding 4em 0
	.wrapper
		display flex
		justify-content space-between
		flex-flow row wrap

	&.index
		.InfoSection
			width 90%
			box-sizing border-box
			margin 1em auto
			
			@media screen and (min-width 768px)
				width 30%
				
			.image
				height 150px
				overflow hidden
			.Info
				position relative
				border 1px solid rgba(lightColor, .5)
				padding 2em
				padding-bottom 100px
				background white
				height 250px
				
				> a
					position absolute
					bottom 1.8em
					left 0
					right 0
					margin auto
.iTypes
	min-height 100vh
	position relative
	background-size cover
	transition all .5s ease
	padding-bottom 4em
	@media screen and (min-width 480px)
		min-height 80vh
	
	&.bg-isla
		background-image linear-gradient(135deg, rgba(black, .6)50%, rgba(black, .5) 70%),url("../img/isla.jpg")
	&.bg-red
		background-image linear-gradient(135deg, rgba(black, .6)50%, rgba(black, .5) 70%),url("../img/red.png")
		
	.wrapper
		display none
		&.active
			display block
		
	.iTypes-btns
		position absolute
		left 0
		right 0
		bottom 2em
		
		.active
			background highlightColor
			color whiteColor
			
.Trust
	min-height 80vh 
	
	.wrapper
		flex-flow row wrap
		
		h2
			width 100%
	&-img
		@media screen and (min-width 768px)
			-webkit-filter grayscale(100%)
			transition all .2s linear
			display inline-block
		
		&:hover
			-webkit-filter none

.Contact
	min-height 120vh
	// padding 4em 0
	
	&.bg-contact
		background-image linear-gradient(135deg, rgba(black, .6)50%, rgba(black, .5) 70%),url("http://cdn.johnywheels.com/2015/05/01/bambootexture-l-633d6f9712242b6e.jpg")
		background-size cover
	.wrapper
		width 100%
		padding 1em
		margin 0 auto
		@media screen and (min-width 768px)
			width 80%
		@media screen and (min-width 1024px)
			width 50%
		form
			display block
			label
				margin 1em 0
				color white
			input
			textarea
				display block
				width 100%
				margin 0 auto
				padding .3em
				box-sizing border-box
				border none
				border-bottom 1px solid white
				outline none
				transition .3s
				background transparent
				color white
				&:focus
					border-bottom 1px solid highlightColor
			
			.form-group
				margin-bottom 50px
		
			button
				display block
				margin 0 auto
.Map
	iframe
		min-height 70vh
		width 100%
		height 100%
@import 'layout/header.styl'
@import 'layout/footer.styl'
@import 'helpers.styl'
@import 'layout/menu.styl'