primaryColor = #FEC606
lightColor  = #3498DB
darkColor   = #00587A
successColor	= #71BA51
highlightColor  = #FC575E
whiteColor = #ffffff
darkGreyColor = #333;


// default font "Lato"
@import url('https://fonts.googleapis.com/css?family=Lato')
@import 'https://fonts.googleapis.com/css?family=Candal'
body
	font-family 'Lato', sans-serif
	font-size 16px
	color darkGreyColor

h1
h2
h3
h4
h5
h6
	font-weight normal
	margin 0
	padding 1em 0
	
.Main-section
	padding 0
	min-height 100vh
	background linear-gradient(135deg, rgba(black, .8), rgba(black, .6)),
		url('../img/main-img.jpg')
	background-size cover
	
	.wrapper
		margin 0 auto
		padding 100px 0
		max-width 1200px
	
	.section-title
		margin 1em 0
		padding 1em .5em
	
.MainInfo
	margin 0 auto
	margin-top 4em
	display flex
	justify-content space-around
	flex-flow row wrap

	&.index
		.InfoSection
			// background rgba(whiteColor, .2)
			border 1px solid whiteColor
			width 90%
			padding 1.3em
			box-sizing border-box
			margin .5em 0
			padding-bottom 80px
			position relative
			
			@media screen and (min-width 768px)
				width 30%
					
			> a
				position absolute
				bottom 1.8em
				left 0
				right 0
				margin auto
		
		
@import 'layout/header.styl'
@import 'layout/footer.styl'
@import 'layout/menu.styl'

//Helpers
	
.title
.subTitle
	padding .5em 0
	text-align center
	text-shadow 2px 2px 3px rgba(black .5)
	
.title
	font-family 'Candal', sans-serif
		
.text-primary
	color primaryColor
	// text-shadow .07em .07em .15em darken(black, 90%)

.text-light
	color lightColor
	text-shadow .07em .07em .15em darken(darkColor, 60%)

.text-dark
	color darkColor
	// text-shadow .07em .07em .15em darken(lightColor, 60%)

.text-success
	color successColor

.text-highlight
	color highlightColor
	// text-shadow .07em .07em .15em darken(black, 90%)
		
.text-white
	color whiteColor
	
.text-center
	display block
	text-align center
	
.text-justify
	display block
	text-align justify

.btn
	outline none
	border none
	border-radius 3px
	padding .5em 0
	display inline-block
	text-decoration none
	text-align center
	
.btn-lg
	width 250px
	
.btn-success
	background successColor

.btn-highlight
	background highlightColor

.btn-light
	background lightColor
	
.m-h-xs
	margin 0 5px
	
.m-h-sm
	margin 0 8px
.m-n
	margin 0
	
.va-b
	display inline-block
	vertical-align bottom
	
.image
	margin 0 auto
	
	img
		width 100%
		
.image-r-xs
	width 30%
.image-r-sm
	width 45%
.image-r-md
	width 60%
.image-r-lg
	width 80%
	
.image-xs
	width 80px
	
.f-s-xs
	font-size 12px

.f-s-sm
	font-size 16px

.f-s-md
	font-size 20px

.f-s-lg
	font-size 26px
	
.f-s-xl
	font-size 32px