					//Helpers


//  Background
.bg-parallax
	background-attachment fixed
	background-size cover
.bg-none
	background none
.bg-no-repeat
	background-repeat no-repeat
.bg-s-cover
	background-size cover
.bg-s-100
	background-size 100% 100%
.bg-whiteColor
	background whiteColor
.bg-section-light-color
	background sectionLightColor
//  Border
.border-light
	border 1px solid rgba(lightColor, .5)
.border-none
	border none

//  Buttons
.btn
	outline none
	border none
	border-radius 3px
	padding .8em 0
	display inline-block
	text-decoration none
	text-align center
	transition .6s all
	
	&:hover
		background lightColor
		color whiteColor
.btn-xs
	width 100px
.btn-sm
	width 150px
.btn-md
	width 200px
.btn-lg
	width 250px
.btn-xl
	width 300px
.btn-success
	background successColor
.btn-highlight
	background highlightColor
.btn-light
	background lightColor	
.btn-bordered
	background transparent
	border 1px solid rgba(darkGreyColor, .5)
.btn-bordered-light
	border 1px solid rgba(lightColor, .5)
	color lightColor
.btn-bordered-white
	border 1px solid rgba(white, .5)
	color whiteColor
.btn-bordered-highlight
	border 1px solid highlightColor
	&:hover
		border 1px solid whiteColor

.btn-info-section
	position absolute
	bottom 1.8em
	left 0
	right 0
	margin auto
	
//  Alignment 
.content-center
	display flex !important
	justify-content center
	align-items center

//  Cursor
.cursor-p
	cursor pointer

//  Display
.disp-n
	display none
.disp-block
	display block
.disp-inlineB
	display inline-block

//  Fonts pixels
.f-s-xs
	font-size 12px
.f-s-sm
	font-size 14px
.f-s-md
	font-size 16px
.f-s-lg
	font-size 20px
	@media screen and (min-width 768px)
		font-size 26px
.f-s-xl
	font-size 32px
.f-s-2x
	font-size 1.5em
	@media screen and (min-width 768px)
		font-size 3em
.f-s-3x
	font-size 3em
	
//  min-heigh - Viewport Size
.min-h-30
	min-height 30vh
.min-h-40
	min-height 40vh
.min-h-50
	min-height 50vh
.min-h-60
	min-height 60vh
.min-h-70
	min-height 70vh
.min-h-80
	min-height 80vh
.min-h-90
	min-height 90vh
.min-h-100
	min-height 100vh
.min-height-120
	min-height 120vh

//  Image - size
.image
	margin 0 auto
	img
		width 100%	
.image-r-xs
	width 30%
.image-r-sm
	width 45%
.image-r-md
	width 60%
.image-r-lg
	width 80%
.image-xs
	width 80px

//  List - Styles
.list-no-style
	list-style none
	margin 0
	padding 0

//  Margin
.m-a
	margin auto
.m-n
	margin 0
.m-xl
	margin 50px
.m-h-xs
	margin 0 5px
.m-h-sm
	margin 0 8px
.m-h-md
	margin 0 20px
.m-1em-0
	margin 1em auto
.m-0-a
	margin 0 auto
.m-v-xs
	margin 5px auto
.m-v-sm
	margin 10px auto
.m-v-md
	margin 15px auto
.m-v-lg
	margin 20px auto
.m-v-xl
	margin 30px auto
.m-r-xs
	margin-right 5px
.m-r-sm
	margin-right 10px	
.m-l-lg
	margin-left 15px

//  Outline
.outline-none
	outline none

//  Overflow
.overflow-h
	overflow hidden

//  Position
.pos-a
	position absolute
.pos-fix
	position fixed
.pos-r
	position relative

//  Padding
.padd-n
	padding 0
.padd-1m
	padding 1em
.padd-1m-0
	padding 1em 0
.padd-2m-0
	padding 2em 0
.padd-3m-0
	padding 3em 0
.padd-4m-0
	padding 4em 0

//  Text - Color
.title
	font-family 'Candal', sans-serif
.title
.subTitle
	padding .5em 0
	text-align center
.text-primary
	color primaryColor
.text-light
	color lightColor
.text-dark
	color darkColor
.text-success
	color successColor
.text-highlight
	color highlightColor		
.text-white
	color whiteColor
.text-center
	display block
	text-align center
.text-left
	text-align left
.text-justify
	display block
	text-align justify
.text-decor-n
	text-decoration none

//  Vertical Align
.v-a-m
	vertical-align middle

.wrapper
	margin 0 auto
	padding 1em 0
	max-width 1200px
	position relative