.Blog
    .wrapper
        padding 0 1em
        background #eeeeee

    .bg-headerBlog
        background linear-gradient(135deg, rgba(black, .5), rgba(black, .6)),
            url('/img/blog/header-blog.jpg')
        background-size cover
        background-attachment fixed