extends layout/layout.pug

block title
	title Blog Mexsol - Energia solar en México

block description
	meta(name="description" content="Blog de Mexsol")

block content
	.Blog
		section.Blog-headerBg.min-h-100.content-center
			h1.title.f-s-lg.text-white Blog Mexsol - Energia solar en México

		section.Blog-grid.padd-1m-0
			.wrapper
				article.Blog-item.bg-whiteColor.m-b-md
					figure.Blog-itemImage.image
						img(src="/img/blog/1.jpg")
					.padd-0-1m
						h2.subtitle.f-s-md Aportaciones de la energia solar al mundo
						small
							i.fa.fa-clock-o.m-r-xs
							| 07/11/1990
						p.f-s-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget leo pharetra, elementum erat nec, ornare nulla. Nulla porta sodales risus nec lacinia. Nunc pretium, ligula condimentum feugiat tempus, tortor ligula auctor nisi...
						a.text-dark.btn.btn-bordered.btn-bordered-light.btn-md.f-s-sm.disp-block.m-v-xl(href="#!")
							i.fa.fa-plus.m-r-xs
							| Leer mas

				article.Blog-item.bg-whiteColor.m-b-md
					figure.Blog-itemImage.image
						img(src="/img/blog/1.jpg")
					.padd-0-1m
						h2.subtitle.f-s-md Aportaciones de la energia solar al mundo
						small
							i.fa.fa-clock-o.m-r-xs
							| 07/11/1990
						p.f-s-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget leo pharetra, elementum erat nec, ornare nulla. Nulla porta sodales risus nec lacinia. Nunc pretium, ligula condimentum feugiat tempus, tortor ligula auctor nisi...
						a.text-dark.btn.btn-bordered.btn-bordered-light.btn-md.f-s-sm.disp-block.m-v-xl(href="#!")
							i.fa.fa-plus.m-r-xs
							| Leer mas

				article.Blog-item.bg-whiteColor.m-b-md
					figure.Blog-itemImage.image
						img(src="/img/blog/1.jpg")
					.padd-0-1m
						h2.subtitle.f-s-md Aportaciones de la energia solar al mundo
						small
							i.fa.fa-clock-o.m-r-xs
							| 07/11/1990
						p.f-s-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget leo pharetra, elementum erat nec, ornare nulla. Nulla porta sodales risus nec lacinia. Nunc pretium, ligula condimentum feugiat tempus, tortor ligula auctor nisi...
						a.text-dark.btn.btn-bordered.btn-bordered-light.btn-md.f-s-sm.disp-block.m-v-xl(href="#!")
							i.fa.fa-plus.m-r-xs
							| Leer mas
