extends layout/layout.pug

block title
	title Galeria Mexsol - Energia solar en México

block description
	meta(name="description", content="Galeria de Mexsol - Energia solar en México: sistema aislado y conectado a la red de cfe, luminarias solares")

block content
	section.Galery.bg-parallax
		.Galery-section.Interconnection.min-h-60.content-center
			article
				h2.subTitle.text-white Sistemas interconectados a la red de CFE
				a(href="").btn.btn-bordered-light.btn-md.text-white Ver galeria
		.Galery-section.Island.min-h-60.content-center.bg-no-repeat
			article
				h2.subTitle.text-white Sistemas independiente de la red de CFE
				a(href="").btn.btn-bordered-light.btn-md.text-white Ver galeria
		.Galery-section.Luminary.min-h-60.content-center.bg-no-repeat.bg-s-100
			article
				h2.subTitle.text-white.disp-block Luminarias solares
				a(href="").btn.btn-bordered-light.btn-md.text-white Ver galeria