extends layout/layout.pug

block title
	title Galería Mexsol - Energía solar en México

block description
	meta(name="description", content="Galeria de Mexsol - Energia solar en México: sistema aislado y conectado a la red de cfe, luminarias solares")

block content
	section.Galery.bg-parallax
		.Galery-section.Interconnection.min-h-80.content-center.bg-no-repeat
			article
				h2.subTitle.text-white Sistemas interconectados a la red de CFE
				a(href="").btn.btn-bordered-highlight.btn-md.text-white Mostrar galería
		.Galery-section.Island.min-h-80.content-center.bg-no-repeat
			article
				h2.subTitle.text-white Sistemas independiente de la red de CFE
				a(href="").btn.btn-bordered-highlight.btn-md.text-white Mostrar galería
		.Galery-section.Luminary.min-h-80.content-center.bg-no-repeat
			article
				h2.subTitle.text-white.disp-block Luminarias solares
				a(href="").btn.btn-bordered-highlight.btn-md.text-white Mostrar galería