extends layout/layout.pug

block title
	title Galería Mexsol - Energía solar en México

block description
	meta(name="description", content="Galeria de Mexsol - Energia solar en México: sistema aislado y conectado a la red de cfe, luminarias solares")

block content
	.Galery.bg-galery.min-h-10
		.wrapper
			section.Galery-content.min-h-80
				nav.Galery-menu
					ul.Galery-list.list-no-style
						li.Galery-listItem
							a.active(href="#!") Album 1
						li.Galery-listItem 
							a(href="#!") Album 2
						li.Galery-listItem
							a(href="#!") Album 3
				h1.Galery-title.f-s-lg.title.text-white.padd-4m-0 Sistemas interconectados a la red de CFE
				article.Galery-grid.padd-b-1m
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/1.jpg")
							img(src="/img/borrar/1.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/2.jpg")
							img(src="/img/borrar/2.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/3.jpg")
							img(src="/img/borrar/3.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/2.jpg")
							img(src="/img/borrar/2.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/3.jpg")
							img(src="/img/borrar/3.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/1.jpg")
							img(src="/img/borrar/1.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/1.jpg")
							img(src="/img/borrar/1.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/2.jpg")
							img(src="/img/borrar/2.jpg")
					figure.Galery-img.image
						a.border-none.outline-none.certificate-img(href="/img/borrar/3.jpg")
							img(src="/img/borrar/3.jpg")