extends layout/layout.pug

block title
	title Galería Mexsol - Energía solar en México

block description
	meta(name="description", content="Galeria de Mexsol - Energia solar en México: sistema aislado y conectado a la red de cfe, luminarias solares")

block content
	section.Galery.bg-parallax

		.Galery-section.bg-interconnection.min-h-80.content-center.bg-no-repeat.text-center
			article
				h2.subTitle.text-white Sistemas interconectados a la red de CFE
				p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="").btn.btn-bordered-highlight.btn-md.text-white Mostrar galería

		.Galery-section.bg-island.min-h-80.content-center.bg-no-repeat.text-center
			article
				h2.subTitle.text-white Sistemas independientes de la red de CFE
				p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="").btn.btn-bordered-highlight.btn-md.text-white Mostrar galería

		.Galery-section.bg-luminary.min-h-80.content-center.bg-no-repeat.text-center
			article
				h2.subTitle.text-white Luminarias solares
				p.text-primary Boy crypto-into spook knife assassin Shibuya free-market wonton soup plastic euro-pop tank-traps franchise sub-orbital gang. Apophenia silent gang faded wristwatch tank-traps carbon nano-engine futurity.
				a(href="").btn.btn-bordered-highlight.btn-md.text-white Mostrar galería