extends layout/layout.pug

block title
	title Home del proyecto

block description
	meta(name="description", content="Descripcion home del proyecto")

//- append styles
//- append scripts

block content
	section.Main-section.bg-parallax.content-center
		.wrapper
			.section-title
				h1.title.text-white.f-s-2x ¿Por que energía solar?
				h2.subTitle.text-primary.f-s-md Cero emisiones - Inagotable - Poco Mantenimiento - Silenciosa - Bajo Costo a Largo Plazo
				h2.title.text-white.f-s-lg Cuidemos Nuestro Planeta...
			
			
	section.MainInfo.index
		.wrapper
			article.InfoSection
				figure.image
					img(src="/img/bombeo-agua.jpg" alt="" title="")

				.Info
					h2.f-s-sm.text-highlight #[strong] BOMBEO DE AGUA CON ENERGIA SOLAR
						//- a(href="https://www.lorentz.de/en/products/submersible-solar-pumps.html" target="_blank")
						//- 	img(src="img/lorentz.png" alt="Logo de lorentz" title="Logo de lorentz" width="70" class="m-h-sm va-b")

					p La gran ventaja del bombeo y riego solar, es que representa una gran oportunidad de obtención de agua en zonas áridas.
						br
						|Ademas de que la época con mayor demanda de agua es también la que ofrece mas radiación solar. ¿Qué esperas?
						
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs
						i.fa.fa-plus
						|  INFORMACIÓN

			article.InfoSection
				figure.image
					img(src="/img/paneles-solares.jpg" alt="Imagen de interconexion - CFE")
				
				.Info
					h2.f-s-sm.text-highlight #[strong] ¿TIENES TARIFA DAC?
					p La tarifa DAC (De Alto Consumo) aumenta el costo de tu recibo de CFE. En Mexsol, Te asesoramos para que la tarifa DAC se vaya, ahorrando hasta un 70 % en consumo eléctrico. ¡Ahorra ya!
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs
						i.fa.fa-plus
						|  INFORMACIÓN

			article.InfoSection
				figure.image
					img(src="/img/alumbrado-publico.jpg" alt="Imagen de luminarias solares para el alumbrado publico o domestico")
				
				.Info
					h2.f-s-sm.text-highlight #[strong] ALUMBRADO PUBLICO SOLAR
					p Tenemos la mejor solución para iluminar calles, avenidas, parques, estacionamientos, áreas deportivas y exteriores, con los mejores sistemas de alumbrado solar y contamos con la mas alta experiencia en ello. ¡Únete y se sustentable!
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs
						i.fa.fa-plus
						|  INFORMACIÓN
		
	section
		.installationTypes.bg-isla.text-center.content-center
			
			.wrapper.isla.active
				h2.text-white.title Tipos de instalación
					h3.text-primary.subTitle.f-s-md Generadores solares independientes de la red
					p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit,#[br] sed do eiusmod tempor incididunt ut labore et dolore magna#[br] aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco#[br] laboris nisi ut aliquip ex ea commodo consequat.
			
			.wrapper.noisla
				
				h2.text-white.title Tipos de no isla
					h3.text-primary.subTitle.f-s-md Generadores solares independientes de la red
					p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit,#[br] sed do eiusmod tempor incididunt ut labore et dolore magna#[br] aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco#[br] laboris nisi ut aliquip ex ea commodo consequat.
			
			.buttons
				a.active.btn.btn-bordered-white.btn-lg.m-v-lg.text-white.isla(href="#!" data-target=".isla") Independiente de la red
				a.btn.btn-bordered-white.btn-lg.text-white.noisla(href="#!" data-target=".noisla") Conexión a la red
