extends layout/layout.pug

block title
	title Home del proyecto

block description
	meta(name="description", content="Descripcion home del proyecto")

//- append styles
//- append scripts

block content
	section.Main-section
		.wrapper
			.section-title
				h1.title.text-white ¿Por que energía solar?
				h2.subTitle.text-white.f-s-md La energía solar es ahora la solución al gran problema de crisis energética en la que nos encontramos ...
			
			
			.MainInfo.index
				article.InfoSection
					h2.title.text-primary.f-s-md Bombeo de agua con energía solar
						a(href="https://www.lorentz.de/en/products/submersible-solar-pumps.html" target="_blank")
							img(src="img/lorentz.png" alt="Logo de lorentz" title="Logo de lorentz" width="70" class="m-h-sm va-b")
					figure.image.image-r-lg
						img(src="img/bombas-lorentz.png" alt="" title="")

					p.text-white.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						| consequat.
					a(href="#").btn.btn-light.btn-lg.text-white
						i.fa.fa-plus
						|  Info

				article.InfoSection
					h2.title.text-primary.f-s-md Si tienes tarifa DAC, ahorra mas de un 70% en tu recibo, nosotros te asesoramos.
					figure.image.image-r-lg
						img(src="img/conexion-cfe.png" alt="Imagen de interconexion - CFE" title="Imagen de interconexion - CFE")
					p.text-white.text-justify Únete a la gran cantidad de personas y empresas que ahora usan Energía Solar.<br> En Mexsol - Energía Solar en México tenemos la solución para tu Hogar y tu Empresa.
					a(href="#").btn.btn-light.btn-lg.text-white
						i.fa.fa-plus
						|  Info

				article.InfoSection
					h2.title.text-primary.f-s-md Luminarias solares para el alumbrado público.
					figure.image.image-lg
						img(src="img/luminaria.png" alt="Imagen de luminarias solares para el alumbrado publico o domestico" title="Imagen de luminarias solares para el alumbrado publico o domestico")
					p.text-white.text-justify En Mexsol - Energía Solar en México, tenemos la mejor solución para iluminar calles, avenidas, parques, estacionamientos, áreas deportivas y exteriores, con sistemas de alumbrado solar.
					a(href="#").btn.btn-light.btn-lg.text-white
						i.fa.fa-plus
						|  Info