extends layout/layout.pug


block title
	title Mexsol - Energía solar en México

block description
	meta(name="description", content="Descripcion home del proyecto")

//- append styles
//- append scripts

block content
	section.Main-section.bg-parallax.content-center.min-h-100
		.wrapper
			.section-title
				h1.title.text-white.f-s-2x ¿Por que energía solar?
				h2.subTitle.text-primary.f-s-md La #[strong energía solar] es ahora la solución al gran problema de crisis energética en el que nos encontramos...
				h2.title.text-white.f-s-lg Cuidemos Nuestro Planeta...
			
			
	section.MainInfo.index.bg-section-light-color
		.wrapper
			article.InfoSection
				figure.image.overflow-h
					img(src="/img/bombeo-agua.jpg" alt="" title="")

				.Info.pos-r.border-light.bg-whiteColor
					h2.f-s-sm.text-highlight #[strong BOMBEO DE AGUA CON ENERGIA SOLAR]

					p La gran ventaja del bombeo y riego solar, es que representa una gran oportunidad de obtención de agua en zonas áridas.
						br
						|Ademas de que la época con mayor demanda de agua es también la que ofrece mas radiación solar. ¿Qué esperas?
						
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs.btn-info-section
						i.fa.fa-plus
						|  INFORMACIÓN

			article.InfoSection
				figure.image.overflow-h
					img(src="/img/paneles-solares.jpg" alt="Imagen de interconexion - CFE")
				
				.Info.pos-r.border-light.bg-whiteColor
					h2.f-s-sm.text-highlight #[strong ¿TIENES TARIFA DAC?]
					p La tarifa DAC (De Alto Consumo) aumenta el costo de tu recibo de CFE. En Mexsol, Te asesoramos para que la tarifa DAC se vaya, ahorrando hasta un 70 % en consumo eléctrico. ¡Ahorra ya!
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs.btn-info-section
						i.fa.fa-plus
						|  INFORMACIÓN

			article.InfoSection
				figure.image.overflow-h
					img(src="/img/alumbrado-publico.jpg" alt="Imagen de luminarias solares para el alumbrado publico o domestico")
				
				.Info.pos-r.border-light.bg-whiteColor
					h2.f-s-sm.text-highlight #[strong ALUMBRADO PUBLICO SOLAR]
					p Tenemos la mejor solución para iluminar calles, avenidas, parques, estacionamientos, áreas deportivas y exteriores, con los mejores sistemas de alumbrado solar y contamos con la mas alta experiencia en ello. ¡Únete y se sustentable!
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs.btn-info-section
						i.fa.fa-plus
						|  INFORMACIÓN
		
	section.iTypes.text-center.content-center.bg-isla.pos-r.bg-s-cover
			.wrapper.isla.active
				h2.text-white.title Tipos de instalación
					h3.text-primary.subTitle.f-s-md Generadores solares independientes de la red
					p.text-white El modulo solar produce electricidad al recibir la luz del sol y se almacena en la batería para ser utilizada cuando se necesite.#[br]Entre el modulo solar y la batería se encuentra el controlador de carga, que protege la batería y nos indica si está cargada o descargada. #[br]La energía almacenada en la batería, sirve para utilizar lámparas y aparatos eléctricos que trabajan a 12 vcd. #[br]Utilizando un inversor de corriente directa a corriente alterna (12vcd-127vca) generamos la electricidad convencional para utilizar aparatos como son: #[br]TV color, estéreo, licuadora, refrigeradores y en general aparatos que funcionen con la red de CFE.
		
			.wrapper.red
				h2.text-white.title Conexión a la red
					h3.text-primary.subTitle.f-s-md Generadores Conectados
					p.text-white Los generadores conectados a la red de CFE no necesitan contar con un sistema de baterías, la red eléctrica actuara como tal. #[br]El beneficio principal de este tipo de sistemas es que solo le pagaras a CFE lo que consumas, #[br]por ejemplo si consumes 10 KW y con el sistema de interconexión a la red eléctrica generaste 5 KW solo deberás pagar 5 KW a CFE. #[br]Si generas más energía de la que consumes, la red te la guardara durante un año, si no la consumes en un año pasa a ser propiedad de CFE.
			
			.iTypes-btns
				a.active.btn.btn-bordered-white.btn-lg.text-white.isla.m-v-md(href="#!" data-target="isla") Independiente de la red
				a.m-h-sm.btn.btn-bordered-white.btn-lg.text-white.red(href="#!" data-target="red") Conexión a la red

	section.Trust.content-center.min-h-100
		.wrapper.text-center.content-center.bg-section-color
			h2.subTitle.text-highlight Ellos confían en nosotros
			- for (var i = 1; i <= 10; i++)
				figure.Trust-img
					img(src=`img/trust/${i}.png` height="30")

			article.ANCE.padd-1m-0
				h2.text-highlight.padd-1m-0 Las instalaciones de nuestros equipos estan certificadas por #[strong ANCE]
				figure.certificate.image.m-1em-0
					a.certificate-img.outline-none(href="img/certificado1.jpg")
						img(src="img/thumbnails-certificado/certificado1.jpg")
				figure.certificate.image.m-1em-0
					a.certificate-img.outline-none(href="img/certificado2.jpg")
						img(src="img/thumbnails-certificado/certificado2.jpg")