extends layout/layout.pug

block title
	title Home del proyecto

block description
	meta(name="description", content="Descripcion home del proyecto")

//- append styles
//- append scripts

block content
	section.Main-section.section-bg
		h1.Title.text-primary ¿Por que energía solar?
		h2.SubTitle.text-light La energía solar es ahora la solución al gran problema de crisis energética en la que encontramos ...
		article.InfoSection
			h3.Title.text-primary Bombeo de agua con energía solar
				a(href="https://www.lorentz.de/en/products/submersible-solar-pumps.html" target="_blank")
					img(src="img/lorentz.png" alt="Logo de lorentz" title="Logo de lorentz")
			figure
				img(src="img/bombas-lorentz.png" alt="" title="")
			p Somos distribuidores
				img(src="img/logo.png")
			a(href="https://www.lorentz.de/en/products/submersible-solar-pumps.html")
				img(src="img/lorentz.png")