extends layout/layout.pug

block title
	title Home del proyecto

block description
	meta(name="description", content="Descripcion home del proyecto")

//- append styles
//- append scripts

block content
	h1.Content-title Contenido Principal de la App