extends layout/layout.pug


block title
	title Mexsol - Energía solar en México

block description
	meta(name="description", content="Descripcion home del proyecto")

//- append styles
//- append scripts

block content
	section.Main-section.bg-parallax.content-center.min-h-100
		.wrapper
			.section-title
				h1.title.text-white.f-s-2x ¿Por que energía solar?
				h2.subTitle.text-primary.f-s-md Cero emisiones - Inagotable - Poco Mantenimiento - Silenciosa - Bajo Costo a Largo Plazo
				h2.title.text-white.f-s-lg Cuidemos Nuestro Planeta...
			
			
	section.MainInfo.index.bg-section-light-color
		.wrapper
			article.InfoSection
				figure.image.overflow-h
					img(src="/img/bombeo-agua.jpg" alt="" title="")

				.Info.pos-r.border-light.bg-whiteColor
					h2.f-s-sm.text-highlight #[strong] BOMBEO DE AGUA CON ENERGIA SOLAR

					p La gran ventaja del bombeo y riego solar, es que representa una gran oportunidad de obtención de agua en zonas áridas.
						br
						|Ademas de que la época con mayor demanda de agua es también la que ofrece mas radiación solar. ¿Qué esperas?
						
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs.btn-info-section
						i.fa.fa-plus
						|  INFORMACIÓN

			article.InfoSection
				figure.image.overflow-h
					img(src="/img/paneles-solares.jpg" alt="Imagen de interconexion - CFE")
				
				.Info.pos-r.border-light.bg-whiteColor
					h2.f-s-sm.text-highlight #[strong] ¿TIENES TARIFA DAC?
					p La tarifa DAC (De Alto Consumo) aumenta el costo de tu recibo de CFE. En Mexsol, Te asesoramos para que la tarifa DAC se vaya, ahorrando hasta un 70 % en consumo eléctrico. ¡Ahorra ya!
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs.btn-info-section
						i.fa.fa-plus
						|  INFORMACIÓN

			article.InfoSection
				figure.image.overflow-h
					img(src="/img/alumbrado-publico.jpg" alt="Imagen de luminarias solares para el alumbrado publico o domestico")
				
				.Info.pos-r.border-light.bg-whiteColor
					h2.f-s-sm.text-highlight #[strong] ALUMBRADO PUBLICO SOLAR
					p Tenemos la mejor solución para iluminar calles, avenidas, parques, estacionamientos, áreas deportivas y exteriores, con los mejores sistemas de alumbrado solar y contamos con la mas alta experiencia en ello. ¡Únete y se sustentable!
					a(href="#!").btn.btn-bordered.btn-bordered-light.btn-md.f-s-xs.btn-info-section
						i.fa.fa-plus
						|  INFORMACIÓN
		
	section.iTypes.text-center.content-center.bg-isla.pos-r.bg-s-cover
			.wrapper.isla.active
				h2.text-white.title Tipos de instalación
					h3.text-primary.subTitle.f-s-md Generadores solares independientes de la red
					p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit,#[br] sed do eiusmod tempor incididunt ut labore et dolore magna#[br] aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco#[br] laboris nisi ut aliquip ex ea commodo consequat.
		
			.wrapper.red
				h2.text-white.title Conexión a la red
					h3.text-primary.subTitle.f-s-md Generadores Conectados
					p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit,#[br] sed do eiusmod tempor incididunt ut labore et dolore magna#[br] aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco#[br] laboris nisi ut aliquip ex ea commodo consequat.
			
			.iTypes-btns
				a.active.btn.btn-bordered-white.btn-lg.text-white.isla.m-v-md(href="#!" data-target="isla") Independiente de la red
				a.m-h-sm.btn.btn-bordered-white.btn-lg.text-white.red(href="#!" data-target="red") Conexión a la red

	section.Trust.content-center.min-h-80
		.wrapper.text-center.content-center.bg-section-color
			h2.subTitle.text-highlight Ellos confían en nosotros
			- for (var i = 1; i <= 10; i++)
				figure.Trust-img
					img(src=`img/trust/${i}.png` height="30")
			h2.text-highlight Las instalaciones de nuestros equipos estan certificadas por ANCE
				figure.certificate
					a.certificate-img(href="img/certificado1.jpg")
						img(src="img/thumbnails-certificado/certificado1.jpg")
				figure.certificate
					a.certificate-img(href="img/certificado2.jpg")
						img(src="img/thumbnails-certificado/certificado2.jpg")