extends layout/layout.pug

block title
	title Mexsol: Interconexion de energía solar con la red de Comisión Federal de Electricidad.

block description
	meta(name="description" content="Conecta los módulos solares con CFE, no tendrás que comprar baterías y el costo reducirá notablemente ya que solo pagaras por lo que consumes, en dado caso de que generes más energía solar de la que consumes, Comisión federal de electricidad almacenara esa energía restante dejándola disponible para cuando sea necesario que la requieras")

block content
	section.Interconnection.bg-inter.min-h-100.bg-parallax.content-center
		.wrapper
			h1.title.text-white Titulo inicial
			p.text-primary.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	section.DownloadPdf.min-h-70.padd-2m-0.content-center
		.wrapper
			h2.title.f-s-lg.m-v-xl Contratos y especificaciones.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Características de los equipos de medición y comunicación.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Contrato para interconexion a mediana escala.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Contrato para interconexion a pequeña escala.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Especificaciones técnicas mediana escala.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Especificaciones técnicas pequeña escala.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Ley para el aprovechamiento de energías renovables.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Reglamento de la ley para el aprovechamiento de energías renovables.

			article.DownloadPdf-item.padd-1m
				a(href="docs/interconexion/caracteristicasmedidores.pdf" target="_blank")
					figure.DownloadPdf-image.image
						img(src="img/Interconexion/pdf-icon.png" alt="icono de pdf")
					span.DownloadPdf-description.text-center.text-highlight.m-v-sm Solicitud para la conexión.

	section.DAC.padd-2m-0.min-h-70.bg-dac.bg-parallax
		.wrapper
			h2.text-center.title.text-white Tarifa Domestica de Alto Consumo (DAC).
			span.m-v-xl.text-center.text-white Ahorra mas del 
				span.text-primary 70% EN EL PAGO DE TU RECIBO, 
				| nosotros te asesoramos.
			article.DAC-item.m-v-xl
				h3.text-white.f-s-lg Recibo antes de DAC
				figure.DAC-receipt.image
					img(src="img/interconexion/recibo-antes.jpg")
			article.DAC-item.m-v-xl
				h3.text-white.f-s-lg Recibo después de DAC
				figure.DAC-receipt.image
					img(src="img/interconexion/recibo-despues.jpg")

	section.Benefits.padd-2m-0.content-center.content-center
		.wrapper
			figure.image
				img(src="img/interconexion/fide-logo.png")
			p.text-center El Fideicomiso para Ahorro de Energía Eléctrica (FIDE) financia la utilización de fuentes de energía renovable para generación eléctrica, con capacidad hasta de 500KW a tasa preferencial, por debajo de la banca comercial. Mayor información: 
				a.text-highlight(href="http://www.fide.org.mx/" target="_blank") www.fide.org.mx

			article.Benefits-item.disp-inlineB.m-0-a
				h2.m-v-xl.text-highlight.title A tener en cuenta
				ul.Benefist-list.list-no-style.text-left.m-l-lg
					li.Benefits-item.m-v-md 
					strong.text-highlight 1.- 
					| Como punto de partida se requiere el recibo eléctrico, ya que este contiene el historial de consumo en kilo-watts.
					li.Benefits-item.m-v-md 
					strong.text-highlight 2.- 
					|Área disponible libre de sombras durante todo el año, que nos permitirá Instalar un tamaño de sistema por área aprovechable.
					li.Benefits-item.m-v-md 
					strong.text-highlight 3.- 
					|Capacidad presupuestal, dependerá fundamentalmente del costo del Sistema, la tasa de retorno, plan de financiamiento, preservación del medio ambiente, entre otras.

			table.m-0-a
				tr
					th.f-s-sm Tarifa
					th.f-s-sm Limite para ingresar a tarifa de alto consumo
				tbody
					tr
						td 1
						td 500 kWh/Bimestre
					tr
						td 1A
						td 600 kWh/Bimestre
					tr
						td 1B
						td 800 kWh/Bimestre
					tr
						td 1C
						td 1,700 kWh/Bimestre
					tr
						td 1D
						td 2,000 kWh/Bimestre
					tr
						td 1E
						td 4,000 kWh/Bimestre
					tr
						td 1F
						td 5,000 kWh/Bimestre