extends layout/layout.pug

block title
	title Productos: Paneles Solares - Mexsol.

block description
	meta(name="description" content="Mexsol - Energia Solar en México: Somos distribuidores de paneles solares en toda la republica mexicana y parte del extranjero")

block content
	section.Product
		h1.subtitle.text-center.text-white Paneles solares
		include layout/productos/productos-menu.pug
		.wrapper
			article.Product-item
				figure.Product-img.image
					a(href="/img/borrar/panel.jpg").colorbox-img
						img(src="/img/borrar/panel.jpg")
				h3.Product-title.text-center Nombre producto
				p.Product-description.text-justify.f-s-sm Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				div.text-center.content-center
					span.Product-dataSheet.text-highlight.m-r-xs Ficha tecnica
					a(href="")
						img(src="/img/borrar/pdf.png" width="30" height="40")
				span.Product-cost.text-success.text-center.m-v-md.f-s-md $53.52 USD + IVA