.Galery
	padding-top 3em
	
	&.bg-galery
		background linear-gradient(135deg, rgba(black, .8), rgba(black, .9)),
			url('/img/borrar/1.jpg')
		background-size cover
		background-attachment fixed
		
	&-menu
		overflow-x scroll
		white-space nowrap
	
	&-title
		padding 2em 0 !important
		
	&-list
		display flex
		justify-content space-around
		align-items center
		text-align center

	&-listItem
		width 100%
		border-right 1px solid whiteColor
		&:last-child
			border none
		a
			// height 100px
			transition all .3s
			display block
			color white
			padding 1em 0
				
			&:hover
				background lightColor
				color white
				
	.active
		color highlightColor

	&-content
		padding .5em
		
	&-title
		padding 1.5em 0
		
			
	&-grid
		display flex
		justify-content space-around
		align-items center
		flex-flow row wrap

	&-img
		width 30%
		overflow hidden
		margin .5em 0
		position relative
		&::after
			content ''
			transition all 1s
			box-shadow 0 0 0 0 transparent inset
		&:hover

			&::after
				content ''
				box-shadow 0 0 0 300px rgba(black, .8) inset
				position absolute
				top 0
				left 0
				right 0
				bottom 0

		img
			width auto
			height 110%