.Galery
	padding-top 3em
	
	&.bg-galery
		background linear-gradient(135deg, rgba(black, .5), rgba(black, .6)),
			url('/img/borrar/1.jpg')
		background-size cover
		background-attachment fixed
		
	&-menu
		margin-top 1em
		padding-top .5em
		overflow-x auto
		white-space nowrap
		background darken(darkColor, 50%)
		
		@media screen and (min-width 1024px)
			overflow-x inherit
			background transparent
			
	
	&-title
		padding 2em 0 !important
		
	&-list
		display flex
		justify-content space-around
		align-items center
		text-align center

	&-listItem
		width 100%
			
			@media screen and (min-width 1024px)
				border-bottom 1px solid whiteColor
		a
			transition all .3s
			display block
			color white
			padding 1em 0
				
			&:hover
				color #CCC
				text-shadow 2px 2px 3px white
				font-style italic
				
	.active
		color highlightColor

	&-content
		padding .5em
		
	&-title
		padding 1.5em 0
		
			
	&-grid
		display flex
		justify-content space-around
		// align-items center
		flex-flow row wrap

	&-img
		max-width 30%
		overflow hidden
		margin .5em 0
		@media screen and (max-width 768px)
			margin .8em 0
		
		@media screen and (min-width 1024px)
			width 19%

		img
			width auto
			height 110%