footer.Footer.content-center.text-center.pos-r
	.wrapper.content-center
		.data
			figure.Footer-logo.disp-inlineB.v-a-m
				img(src="img/logo.png" title="")

			ul.Footer-list.list-no-style.disp-inlineB
				li.Footer-item.disp-inlineB
					a(href="/") Inicio
				li.Footer-item.disp-inlineB
					a(href="#!") Productos
				li.Footer-item.disp-inlineB
					a(href="#!") Galeria
				li.Footer-item.disp-inlineB
					a(href="#!") Interconexion CFE
				li.Footer-item.disp-inlineB
					a(href="#!") Cursos
				li.Footer-item.disp-inlineB
					a(href="#!") Contacto
			.Footer-below
				span.text-white Copyright Mexsol.com.mx &copy 2016
				a(href="http://controlmas.mx" target="_blank") Desarrollado por ControlMas.MX