footer.Footer
	figure.Footer-logo
		img(src="img/logo.png" title="")

	ul.Footer-list
		li.Footer-item
			a(href="/") Inicio
		li.Footer-item
			a(href="#!") Productos
		li.Footer-item
			a(href="#!") Galeria
		li.Footer-item
			a(href="#!") Interconexion CFE
		li.Footer-item
			a(href="#!") Cursos
		li.Footer-item
			a(href="#!") Contacto
.Sub-footer
	p Copyright Mexsol.com.mx &copy 2016
	a(href="http://controlmas.mx" target="_blank") Desarrollado por ControlMas.MX