header.Header.padd-n.pos-fix
	a(href="/")
		figure.Header-logo
			img(src="img/logo.png" alt="")

	button.Header-menuBtn.pos-a.bg-none.border-none.outline-none.cursor-p
		i.fa.fa-bars.text-success
	
	include menu.pug