<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#064C66')
		
		block title
			title Web Project Title

		block description
			meta(name="description" content="Project description")

		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		

		block styles
			link(rel="stylesheet" href='/css/normalize.css')
			link(rel="stylesheet" href='/css/app.css')
			link(rel="stylesheet" href='/css/font-awesome.min.css')
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
	
	body
		include header
			
		main.Content
			block content

			include contact

			section.Map
				button.close-map.pos-a.bg-none.border-none.outline-none.cursor-p
					i.fa.fa-times.fa-3x.text-white
				iframe.min-h-60(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.403696348843!2d-99.17385898510246!3d19.524274542802175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f81e40995755%3A0xdf68f83447479b49!2sMexsol%3A+Energ%C3%ADa+Solar+en+M%C3%A9xico!5e0!3m2!1ses-419!2smx!4v1467815606591" frameborder="0" style="border:0" allowfullscreen)

		include footer

		.map-popup-container.disp-n.pos-fix
		
		block scripts
			script(src='/js/app.min.js')
			script(src='/js/colorbox/jquery.colorbox-min.js')