nav.MainMenu.pos-a.disp-n.bg-s-cover
	ul.MainMenu-list.list-no-style
		//- li.MainMenu-item
		//- 	a.disp-block.text-decor-n.text-white.padd-1m(href="")
		//- 		i.fa.fa-home.text-success
		//- 		| Inicio
		li.MainMenu-item
			a.disp-block.text-decor-n.text-white.padd-1m(href="") 
				i.fa.fa-shopping-cart.text-success
				| Productos
			ul.DropDown-list.list-no-style.text-center
				li.DropDown-item.m-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!") 
						|Controladores
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!") 
						|Baterias
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!")
						|Inversores
		li.MainMenu-item
			a.disp-block.text-decor-n.text-white.padd-1m(href="")
				i.fa.fa-image.text-success
				| Galeria
		li.MainMenu-item
			a.disp-block.text-decor-n.text-white.padd-1m(href="")
				i.fa.fa-plug.text-success
				| Interconexion CFE
		li.MainMenu-item
			a.disp-block.text-decor-n.text-white.padd-1m(href="")
				i.fa.fa-book.text-success
				| Cursos
		li.MainMenu-item
			a.disp-block.text-decor-n.text-white.padd-1m(href="")
				i.fa.fa-newspaper-o.text-success
				| Blog
		li.MainMenu-item.contact
			a.disp-block.text-decor-n.text-white.padd-1m(href="#contact-form")
				i.fa.fa-envelope.fa-2x.text-white