nav.MainMenu.pos-a.disp-n.bg-s-cover
	ul.MainMenu-list.list-no-style
		li.MainMenu-item.Products-item
			a.disp-block.text-decor-n.text-white.padd-1m(href="#!") 
				i.fa.fa-shopping-cart.text-success
				| Productos
				i.fa.fa-arrow-circle-down.DropDown-icon
			ul.DropDown-list.list-no-style.text-center
				li.DropDown-item.m-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="paneles-solares.html") 
						|Paneles solares
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!") 
						|Baterías solares
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!")
						|Bombas de agua solares
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!")
						|Controladores de carga
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!")
						|Inversores de corriente
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!")
						|Luminarias solares
				li.DropDown-item.m-n.padd-n
					a.disp-block.padd-1m.text-white.text-decor-n(href="#!")
						|Paquetes solares
		li.MainMenu-item
			a.link.disp-block.text-decor-n.text-white.padd-1m(href="galeria.html")
				i.fa.fa-image.text-success
				| Galería
		li.MainMenu-item
			a.link.disp-block.text-decor-n.text-white.padd-1m(href="interconexionCFE.html")
				i.fa.fa-plug.text-success
				| Interconexion CFE
		li.MainMenu-item
			a.link.disp-block.text-decor-n.text-white.padd-1m(href="#!")
				i.fa.fa-newspaper-o.text-success
				| Blog
		li.MainMenu-item.contact
			a.disp-block.text-decor-n.text-white.padd-1m(href="#contact-form")
				i.fa.fa-envelope.text-success.fa-2x
		li.MainMenu-item.contact-movile
			a.disp-block.text-decor-n.text-white.padd-1m(href="#contact-form")
				i.fa.fa-envelope.text-success
				| Contacto