nav.MainMenu
	ul.MainMenu-list
		li.MainMenu-item
			a(href="")
				i.fa.fa-home
				| Inicio
		li.MainMenu-item
			a(href="")
				i.fa.fa-bars
				| Productos
			ul.DropDown-list.list-no-style.text-center
				li.DropDown-item.m-n.padd-n
					a(href="#!") 
						|Controladores
				li.DropDown-item.m-n.padd-n
					a(href="#!") 
						|Baterias
				li.DropDown-item.m-n.padd-n
					a(href="#!")
						|Inversores
		li.MainMenu-item
			a(href="")
				i.fa.fa-image
				| Galeria
		li.MainMenu-item
			a(href="")
				i.fa.fa-plug
				| Interconexion CFE
		li.MainMenu-item
			a(href="")
				i.fa.fa-book
				| Cursos
		li.MainMenu-item
			a(href="")
				i.fa.fa-envelope
				| Contacto