nav.Product-menu
	ul.Product-list.list-no-style
		li
			a.text-decor-n.disp-block.active(href="/" title="Paneles solares")
				i.fa.fa-envira
				span.product-name Paneles solares

		li
			a.text-decor-n.disp-block(href="/" title="Baterias solares")
				i.fa.fa-battery-full
				span.product-name Baterias solares

		li
			a.text-decor-n.disp-block(href="/" title="Bombas de agua solares")
				i.fa.fa-sun-o
				span.product-name Bombas de agua solares

		li
			a.text-decor-n.disp-block(href="/" title="Controladores de carga")
				i.fa.fa-bolt
				span.product-name Controladores de carga

		li
			a.text-decor-n.disp-block(href="/" title="Inversores de corriente")
				i.fa.fa-exchange
				span.product-name Inversores de corriente

		li
			a.text-decor-n.disp-block(href="/" title="Luminarias solares")
				i.fa.fa-lightbulb-o
				span.product-name Luminarias solares