nav.Product-menu
	ul.Product-list.list-no-style
		li
			a.text-decor-n.solar-panels.disp-block.active(href="/") Paneles solares
		li
			a.text-decor-n.solar-batteries.disp-block(href="/") Baterias solares
		li
			a.text-decor-n.solar-batteries.disp-block(href="/") Bombas solares
		li
			a.text-decor-n.solar-batteries.disp-block(href="/") Controladores de carga
		li
			a.text-decor-n.solar-batteries.disp-block(href="/") Inversores de corriente
		li
			a.text-decor-n.solar-batteries.disp-block(href="/") Luminarias solares